/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #e4e4e4;
}
body {
  width: 80%;
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .desktop-only {
    display: none;
  }

  .quiz-answer {
    flex-direction: column
  }
}
