<header class="header" (click)="goHome()">
  <h1>Testing</h1>
  <nav>
    <a routerLink="/">Тест</a>
    <a routerLink="/login">Вход</a>
    <a routerLink="/admin">Добавить вопросы</a>
  </nav>
</header>
<main class="main">
  <div class="left"><router-outlet></router-outlet></div>
  <aside class="right">
    <h3>Рекомендации</h3>
    <p>Всегда надевайте спасательный жилет.</p>
    <p>Изучайте погодные условия перед выходом в плавание.</p>
    <hr />
    <h3>Реклама</h3>
    <p>Курсы подготовки судоводителей от 999₽</p>
  </aside>
</main>
<footer class="footer">
  © 2025 Обучение управлению водным транспортом
</footer>
