<div *ngIf="!isFinish else report">

  <p>{{currentIndex}} из {{questions.length}}</p>

  <p>{{currentQuestion.questionTitle}}</p>
  <img [src]="currentQuestion.questionImage" alt="">
  <p>{{currentQuestion.question}}</p>
  <div>
    <p [ngClass]="{wrong: answer == currentQuestion.selectedAnswer && !currentQuestion.selectedAnswer.correct, right: isRight(answer)}"
       *ngFor="let answer of currentQuestion.answers"
       (click)="chose(answer)">
      <img [src]="answer.image" alt="">
      <span>{{answer.answer}}</span>
      <span *ngIf="isRight(answer)">{{answer.placeholder}}</span>
    </p>
  </div>

  <button [disabled]="currentIndex == 1" (click)="previous()">Previous</button>
  <button [disabled]="currentIndex == questions.length" (click)="next()">Next</button>
  <button (click)="saveReport()">Save report</button>
</div>

<ng-template #report>
  report

</ng-template>
