<div class="quiz-block" *ngIf="!isFinish else reportTemplate">

  <div class="quiz-header">
    <div class="quiz-name">
      <p>{{quiz.title}}</p>
      <cd-timer *ngIf="quiz?.exam" [countdown]="true" format="intelli" [startTime]="EXAM_TIME_SECONDS" (onComplete)="stopTime()"></cd-timer>
    </div>
    <div class="question-carousel">
      <label #cardRef
             [ngClass]="{
                selected: currentIndex === i,
                wrong: isWrong(question),
                right: isRight(question)
              }"
             class="question-card" *ngFor="let question of questions; let i = index" (click)="selectQuestion(i)">
        <input
          type="radio"
          name="questionSelect"
          [value]="i"
          [(ngModel)]="currentIndex"
        />
        {{ i + 1 }}
      </label>
    </div>
  </div>

  <div class="quiz-question-block">
    <div class="quiz-question">{{currentQuestion?.question}}</div>

    <div class="quiz-answer">
      <img *ngIf="currentQuestion?.questionImage" [src]="currentQuestion?.questionImage" alt="">
      <ul>
        <li *ngFor="let answer of currentQuestion?.answers"
            [ngClass]="{answered: !!currentQuestion?.selectedAnswer, wrong: answer == currentQuestion?.selectedAnswer && !currentQuestion.selectedAnswer.correct, right: isRightAnswer(answer)}"
            (click)="chose(answer)">
          <img *ngIf="answer.image" [src]="answer.image" alt="">
          <span>{{answer.answer}}</span>
          <span *ngIf="isRightAnswer(answer)">{{answer.placeholder}}</span>
        </li>
      </ul>
    </div>

    <div class="quiz-buttons">
      <div class="quiz-button" *ngIf="currentQuestion?.selectedAnswer" (click)="next(cardRefs)">Продолжить</div>
    </div>
  </div>
</div>

<ng-template #reportTemplate>
  <div *ngIf="quiz.exam && wrongAnswerCount >= 2">
    <p class="exam-failed">Экзамен провален</p>
    <p>Во время экзамена допускается совершить только одну ошибку</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="quiz.exam && wrongAnswerCount < 2 && !isTimeEnd">
    <p class="exam-passed">Экзамен пройден</p>
    <p>Правильных ответов {{ rightAnswerCount }} из {{questions.length}}</p>
    <p>Продолжительность: {{ report.duration }} секунд</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="quiz.exam && isTimeEnd">
    <p>Не хватило совсем чуть-чуть :(</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="!quiz.exam">
    <p>Правильных ответов {{ rightAnswerCount }} из {{questions.length}}</p>
    <p>Продолжительность: {{ report.duration }} секунд</p>
    <div class="quiz-buttons">
      <button mat-raised-button (click)="startAgain()">Пройти заново</button>
      <button mat-raised-button (click)="chooseAnotherQuiz()">Выбрать другой тест</button>
    </div>
  </div>
</ng-template>
