<div class="quiz-block" *ngIf="!isFinish else reportTemplate">

  <div class="quiz-header">
    <span>Отвечено на {{currentIndex}} из {{questions?.length}}</span>
    <cd-timer *ngIf="quiz?.exam" [countdown]="true" format="intelli" [startTime]="EXAM_TIME_SECONDS" (onComplete)="stopTime()"></cd-timer>
    <button mat-raised-button (click)="saveReport()">Закончить</button>
  </div>

  <div class="quiz-question-block">
    <div class="quiz-question">{{currentQuestion?.question}}</div>

    <div class="quiz-answer">
      <img *ngIf="currentQuestion?.questionImage" [src]="currentQuestion?.questionImage" alt="">
      <ul>
        <li *ngFor="let answer of currentQuestion?.answers"
            [ngClass]="{answered: !!currentQuestion?.selectedAnswer, wrong: answer == currentQuestion?.selectedAnswer && !currentQuestion.selectedAnswer.correct, right: isRight(answer)}"
            (click)="chose(answer)">
          <img *ngIf="answer.image" [src]="answer.image" alt="">
          <span>{{answer.answer}}</span>
          <span *ngIf="isRight(answer)">{{answer.placeholder}}</span>
        </li>
      </ul>
    </div>

    <div class="quiz-buttons">
      <button mat-raised-button *ngIf="!areAllQuestionsAnswered" (click)="next()">Следующий вопрос</button>
      <button mat-raised-button color="primary" *ngIf="areAllQuestionsAnswered" (click)="saveReport()">Закончить</button>
    </div>
  </div>
</div>

<ng-template #reportTemplate>
  <div *ngIf="quiz.exam && wrongAnswerCount >= 2">
    <p class="exam-failed">Экзамен провален</p>
    <p>Во время экзамена допускается совершить только одну ошибку</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="quiz.exam && wrongAnswerCount < 2 && !isTimeEnd">
    <p class="exam-passed">Экзамен пройден</p>
    <p>Правильных ответов {{ rightAnswerCount }} из {{questions.length}}</p>
    <p>Продолжительность: {{ report.duration }} секунд</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="quiz.exam && isTimeEnd">
    <p>Не хватило совсем чуть-чуть :(</p>
    <button mat-raised-button (click)="startAgain()">Пройти заново</button>
  </div>

  <div *ngIf="!quiz.exam">
    <p>Правильных ответов {{ rightAnswerCount }} из {{questions.length}}</p>
    <p>Продолжительность: {{ report.duration }} секунд</p>
    <div class="quiz-buttons">
      <button mat-raised-button (click)="startAgain()">Пройти заново</button>
      <button mat-raised-button (click)="chooseAnotherQuiz()">Выбрать другой тест</button>
    </div>
  </div>
</ng-template>
